mixin item_T_space()

   - let tmp, tmp1;

   <?php if ($child) : ?>
      - tmp = "<?= $child->id ?>", tmp1 = "<?= $child->type->name ?>"
      tr(data-item-id!=tmp, data-item-type!=tmp1).item_T_space&attributes(attributes)
         td(colname='order').page_table-order.row.jcc.aic.cup
            img(src=`../Attach/Images/up-down.svg` draggable="false")
         td(colname='key')
         td(colname='name')
         td(colname='value').w100
         td(colname='type', colspan=2)
         td.tac(colname='permission')

   <?php else : ?>
      - tmp = "<?= $child->id ?>", tmp1 = "<?= $child->type->name ?>"
      tr(data-item-id!=tmp, data-item-type!=tmp1).item_T_space&attributes(attributes)
         td(colname='order').page_table-order.row.jcc.aic.cup
            img(src=`../Attach/Images/up-down.svg` draggable="false")
         td(colname='key')
         td(colname='name')
         td(colname='value').w100
         td(colname='type', colspan=2)
         td.tac(colname='permission')

   <?php endif; ?>