:php
   session_start();
   if (isset($_SESSION['id'])) {
      exit("<meta http-equiv='refresh' content='0; url=./../main'>");
      die;
   }

include ../../bundle.pug

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Login | Just Field
      +favicon()
   body.row.jcc.aic
      main.rel
         .jf-cms-span.row.jcc
            .jf-cms-span_1 JUST&nbsp;
            .jf-cms-span_2 FIELD&nbsp;
            .jf-cms-span_3 CM
            .jf-cms-span-ll S

         section.row.aic.jcsb
            +logo(true).mlv1(style="overflow: visible")
            form(action='./../scripts/' method="post").col.mr1
               +input('Login', 'login', 'text', 'none')
               +input('Password', '', 'password', 'none')#password-view
               +input('Password', 'password', 'hidden')#password
               +input('Script', 'script', 'hidden')(value="login")
               +button('Sign in', 'none')

         .jf-cms-span.jf-cms-span_updown.row.jcc 
            span JUST FIELD CM
            .jf-cms-span-ll S

         +link('frity corp.', 'http://frity.ru').abs.fzo75.ct-abs_x(target="_blank")

         <?php if (isset($_SESSION['login_error'])) : ?>
            .login-error.abs.ct-abs_x <?= $_SESSION['login_error'] ?>
         <?php endif; ?>
