- session_start();
if ($_SESSION['id'])
   - header('Location: ./dev.php?page=main');
   - die;

include ../../bundle.pug

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Login | Just Field
      link(rel="stylesheet" href=`${link}.css?ver=${ver}`)
   body.row.jcc.aic
      main.p1.brado5
         h1.mtb0.ff-os Login 
         h2.mt0.ff-os.fwn Just Field CMS
         form(action='./dev.php?page=scripts&script=login' method="post").col
            +input('Login', 'login', 'text').mbo5
            +input('Password', 'password', 'password').mb1(type="password")#password
            +button('Войти', 'filled', 'c2')

   script(src=`${link}.bundle.js`)