mixin item_T_image()

   <?php if (isset($child)) : ?>
   
      - let tmp = "<?= $child->id ?>", tmp1 = "<?= $child->type->name ?>"
      tr(data-item-id!=tmp, data-item-type!=tmp1).item_T_image&attributes(attributes)
         td(colname='order').table__order.row.jcc.aic.cup
            img(src=`../__attach/Images/up-down.svg` draggable="false")
         td(colname='id').tac!= tmp
         td(colname='key').p0
            - tmp = "<?= $child->key ?>"
            input(placeholder='Input key...', value!=tmp)
         td(colname='name').p0
            - tmp = "<?= $child->name ?>"
            input(placeholder='Input name...', value!=tmp)
         td(colname='value').w100.p0
            .row
               <?php if (isset($child->value->src)) : ?>
                  .item_T_image__thumbnail.row.jcc.aic
                     - tmp = "<?= $child->value->src ?>"
                     img(src!=tmp)
                  +button('Show')(data-mfp-src!=tmp).item_T_image__show-button
               <?php else : ?>
                  .item_T_image__thumbnail.item_T_image__thumbnail_free.row.jcc.aic
                     img(src='').dn
                  +button('Show')(data-mfp-src='', disabled="disabled").item_T_image__show-button
               <?php endif; ?>
               +button('Upload', 'dark').item_T_image__upload-button
               form.dn.item_T_image__file-form
                  input(type="file", name="image", accept="image/*").item_T_image__file
         - tmp = "<?= $child->type->name ?>"
         td(colname='type', colspan=2) !{tmp}
         td.tac(colname='permission') edit

   <?php else : ?>

      tr(data-item-id='{id}', data-item-type='{type}').item_T_image&attributes(attributes)
         td(colname='order').table__order.row.jcc.aic.cup
            img(src=`../__attach/Images/up-down.svg` draggable="false")
         td(colname='id').tac {id}
         td(colname='key').p0
            input(placeholder='Input key...', value='{key}')
         td(colname='name').p0
            input(placeholder='Input name...', value='{name}')
         td(colname='value').w100.p0
            .row
               .item_T_image__thumbnail.item_T_image__thumbnail_free.row.jcc.aic
                  img(src='').dn
               +button('Show')(href='{value}', disabled="disabled").item_T_image__show-button
               +button('Upload', 'dark').item_T_image__upload-button
               form.dn.item_T_image__file-form
                  input(type="file", name="image", accept="image/*").item_T_image__file
         td(colname='type', colspan=2) {type}
         td.tac(colname='permission') edit

   <?php endif; ?>

      