mixin item_T_object()

   <?php if (isset($child)) : ?>
   
      - let tmp = "<?= $child->id ?>", tmp1 = "<?= $child->type->name ?>"
      tr(data-item-id!=tmp, data-item-type!=tmp1).item_T_object&attributes(attributes)
         td(colname='order').page_table-order.row.jcc.aic.cup
            img(src=`../__attach/Images/up-down.svg` draggable="false")
         td(colname='key').p0
            - tmp = "<?= $child->key ?>"
            input(placeholder='Input key...', value!=tmp)
         td(colname='name').p0
            - tmp = "<?= $child->name ?>"
            input(placeholder='Input name...', value!=tmp)
         td(colname='value').w100.p0
            :php
               $path_i = count($path_parts)+1;
               $loc_path;
               if ($path == '') :
                  $loc_path = $child->key;
               else :
                  $loc_path = "{$path}/{$child->key}";
               endif;
            - tmp = "./../field?view=tree&path=<?= $loc_path ?>&curr_path_i=<?= $path_i ?>"
            +link('Open', tmp).p1.db
         - tmp = "<?= $child->type->name ?>"
         td(colname='type', colspan=2) !{tmp}
         td.tac(colname='permission') edit

   <?php else : ?>

      tr(data-item-id='{id}', data-item-type='{type}').item_T_object&attributes(attributes)
         td(colname='order').page_table-order.row.jcc.aic.cup
            img(src=`../__attach/Images/up-down.svg` draggable="false")
         td(colname='key').p0
            input(placeholder='Input key...', value='{key}')
         td(colname='name').p0
            input(placeholder='Input name...', value='{name}')
         td(colname='value').w100.p0
            :php
               $path_i = count($path_parts)+1;
               $loc_path;
               if ($path == '') :
                  $loc_path = '{key}';
               else :
                  $loc_path = "{$path}/{key}";
               endif;
            - tmp = "./../field?view=tree&path=<?= $loc_path ?>&curr_path_i=<?= $path_i ?>"
            +link('Open', tmp).p1.db
         td(colname='type', colspan=2) {type}
         td.tac(colname='permission') {permission}

   <?php endif; ?>
