+die-if-bad()

include ../../bundle.pug

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Вход, Регистрация | Vodopoj
      link(rel="stylesheet" href=`${link}.css?ver=${ver}`)
   body.row
      +aside()
         +dropdown('Hello')
            +dropdown('World')
               .mo5 Yeah
      main
         +link('Exit', './dev.php?page=scripts&script=exit')

   script(src=`${link}.bundle.js`)