include ../../bundle.pug

+die-if-bad()
- var global = { 'page-name': 'field' };
+get-user-info()

:php
   require_once __DIR__ . '/../php/JustField.php';
   $db = new JustField\DB($orm);

   if (!isset($_GET['view']))
      header('Location: ./../field?view=tree');

   function query_update ($key, $value) { 
      if (!isset($_GET[$key])) 
         return; 
      return './?' . str_replace("$key=".$_GET[$key], "$key=$value", $_SERVER['QUERY_STRING']); 
   };

- let tmp, tmp1

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Fields | Just Field
      +favicon()
   body.row
      +aside()
      main(style!=`<?= "width: calc(100% - {$_COOKIE['-jf_aside-width']}px);" ?>`)
         .row.page_tabs
            - tmp = `<?= query_update('view', 'tree') ?>`
            +box('a', `<?php echo ($_GET['view'] == 'tree' ? 'light' : 'dark') ?>`)(href!=tmp).tdn
               | Tree View
            - tmp = `<?= query_update('view', 'type') ?>`
            +box('a', `<?php echo ($_GET['view'] == 'type' ? 'light' : 'dark') ?>`)(href!=tmp).tdn
               | Type View

         <?php if ($_GET['view'] == 'tree') : ?>
            .page_path.row.aic.w100.pl1
               :php
                  $full_path = (array_key_exists('path', $_GET) ? $_GET['path'] : '');
                  $curr_path_i = 0;
                  if (array_key_exists('curr_path_i', $_GET))
                     $curr_path_i = $_GET['curr_path_i'];
                  $curr_path_i = intval($curr_path_i);

                  $parts = explode('/', $full_path);

                  $path_parts = [];
                  for ($i = 0; $i < $curr_path_i; $i++)
                     array_push($path_parts, $parts[$i]);
                  $path = implode('/', $path_parts);
                  
                  $global['path'] = $path;
                  $global['path_parts'] = $path_parts;

               <script>var state = {};</script>
               script state.path = '<?= $path ?>';

               :php
                  //var_dump($parts);
                  echo '<script>console.log(`' . 'curr_path_i: ' . $curr_path_i .'`);</script>';
                  echo '<script>console.log(`' . 'count parts: ' . count($parts) .'`);</script>';
                  if ($curr_path_i < count($parts)-1)
                     echo "<script>state.pathNext = '{$parts[$curr_path_i]}';</script>";
                  else
                     echo "<script>state.pathNext = '';</script>";

                  if (count($parts) == 1 && $parts[0] == '')
                     $parts = [];
                  array_unshift($parts, '/');
                  $i = 0;

               <?php foreach ($parts as $part): ?>
                  <?php $is_curr = ($i == $curr_path_i); ?>
                  - tmp = "<?= query_update('curr_path_i', $i) ?>"
                  - tmp1 = "<?= $is_curr ? 'page_path__part_curr' : '' ?>"
                  a(href!=tmp, class!=tmp1).page_path__part.tdn
                     <?= $part ?>
                  <?php $i++; ?>
               <?php endforeach; ?>

            .page_content.ova.w100
               template#template_T_field
                  +item_T_field()
               template#template_T_object
                  +item_T_object()
               template#template_T_list
                  +item_T_list()
               template#template_T_image
                  +item_T_image()
               template#template_T_space
                  +item_T_space()

               <?php $is_data = true; ?>
               table(data-update-link='./../scripts/?script=field-update')
                  thead
                     tr
                        td Order
                        td Key
                        td Name
                        td.w100 Value
                        td(colspan="2") Type
                        td Permission
                  tbody
                     <?php $children = $db->at_path($path); ?>
                     <?php $children = $children->get_children(); ?>

                     <?php if ($children == null) : ?>
                        <?php $is_data = false; ?>
                     <?php else : ?>
                        <?php foreach ($children as $child) : ?>
                           <?php if ($child->type->name == 'field') : ?>
                              +item_T_field()
                           <?php elseif ($child->type->name == 'image') : ?>
                              +item_T_image()
                           <?php elseif ($child->type->name == 'object') : ?>
                              +item_T_object()
                           <?php elseif ($child->type->name == 'list') : ?>
                              +item_T_list()
                           <?php elseif ($child->type->name == 'space') : ?>
                              +item_T_space()
                           <?php endif; ?>
                        <?php endforeach; ?>
                     <?php endif; ?>

               - tmp = "<?= ( $is_data ? 'dn' : '' ) ?>"
               h2.tac(class!=tmp)#title_no-data No data


         <?php elseif ($_GET['view'] == 'type') : ?>
            | type

         <?php endif; ?>

         .page_foot-panel.w100.row.jcsb
            .row
               +button('Add', 'dark').page_button-add.rel(data-add-link='./../scripts/?script=field-add')
                  .page_button-add__content.abs.col.top0.left0.dn
                     <?php $types = $orm->table('type')->select('*')(); ?>
                     <?php foreach ($types as $curr_type) : ?>
                        - tmp = "<?= $curr_type['id_type'] ?>"
                        - tmp1 = "<?= $curr_type['type_name'] ?>"
                        +box('div', 'dark').page_button-add__type(data-id!=tmp) !{tmp1}
                     <?php endforeach; ?>
                     
               +button('Delete', 'dark').page_button-delete(data-delete-link='./../scripts/?script=field-delete')
                  span(style="color: #6CF6FF88").dn#button-delete-count
                     |  (
                     span 0
                     | )
               +button('Duplicate', 'dark').page_button-duplicate(data-duplicate-link='./../scripts/?script=field-duplicate')
                  span(style="color: #6CF6FF88").dn#button-duplicate-count
                     |  (
                     span 0
                     | )
            .row
               #statusbar.p1 Ready
         
