mixin aside__item(title, link, current=false)

   if !title || !link

      :php
         $is_current = false;
         $is_url_match = JustField\InterfacePlugin\Aside::is_url_match($item->link, $actual_link);
         
         if ($is_url_match)
            $is_current = true;

      - let tmp =  '<?= $item->link ?>'
      - let tmp1 = "<?= ($is_current ? 'cud box_disabled box_mode_light' : 'box_mode_dark') ?>"
      - let tmp2 = '<?= $item->title ?>'
      +box('a', '')(href!=tmp, class!=tmp1).aside__item&attributes(attributes).w100.db.tdn
         | !{tmp2}
   
   else
      +box('a', (current ? 'light' : 'dark'))(href=link, class=( current ? 'cud block_disabled' : '' )).aside__item&attributes(attributes).w100.db.tdn
         = title
      
