mixin aside__item(name, href, current=false)
   +box('a', (current ? 'light' : 'dark'))(href=href, class=( current ? 'cud block_disabled' : '' )).aside__item&attributes(attributes).w100.db.tdn
      = name
