mixin button(text, type, color)
   +block('button').button.tal.cup.brad0(
         class=type ? `button_${type}` : ''
         class=color ? `button_${color}` : ''
      )&attributes(attributes)= text
      