<?php require_once $php . '/JustField.php'; ?>
<?php $db = new JustField\DB($orm, ['assets' => $assets]); ?>

<?php function gen_from_get($prefix) { ?>
<?php    return function (&$variable, $get_key, $is_echo = true) use ($prefix) { ?>
<?php       if (isset($_GET[$get_key])) { ?>
<?php          $variable = $_GET[$get_key]; ?>
<?php       } else if ($is_echo) { ?>
<?php          echo($prefix . ': ' . "no \"$get_key\" in \$_GET" . '<br>'); ?>
<?php       } else { ?>
<?php          $variable = null; ?>
<?php       } ?>
<?php    }; ?>
<?php } ?>

<?php function gen_from_post($prefix) { ?>
<?php    return function (&$variable, $get_key, $is_echo = true) use ($prefix) { ?>
<?php       if (isset($_POST[$get_key])) { ?>
<?php          $variable = $_POST[$get_key]; ?>
<?php       } else if ($is_echo) { ?>
<?php          echo($prefix . ': ' . "no \"$get_key\" in \$_POST" . '<br>'); ?>
<?php       } else { ?>
<?php          $variable = null; ?>
<?php       } ?>
<?php    }; ?>
<?php } ?>


if isset($_GET['script'])
   - var script = $_GET['script'];

   if script == 'exit'
      - session_start();
      - unset_session_prop('id');
      - session_destroy();

      - header("Location: ./dev.php?page=login");
      - die;


   else if script == 'login'
      if isset($_POST['login']) && isset($_POST['password'])
         - session_start();

         - var login = $_POST['login'];
         - var password = $_POST['password'];

         - orm.is_log = true;

         - var id = orm.from('account').select('id_account').where(`account_login = '${login}' AND account_password = '${password}'`)();

         if (!id)
            - $_SESSION['login_error'] = 'uncorrect login or password';
            - header('Location: ./dev.php?page=login');
         else
            - var id = id[0]['id_account'];
            - $_SESSION['id'] = id;
            - unset_session_prop('login_error');
            - header('Location: ./dev.php?page=main');
      else
         - echo('NO POST');

   else if script == 'field-add'
      - var from_get = gen_from_get('field-add')

      - from_get(field_type_id, 'type-id')
      - from_get(path, 'path')

      - db.orm.is_log = false
      - var new_field_id = db.at_path(path).add_field(field_type_id)

      - echo(`{ "status": "OK", "id": "${new_field_id}"}`)

   else if script == 'field-update'
      - var from_post = gen_from_post('field-update')

      - from_post(item_id, 'item_id')
      - from_post(colname, 'colname')
      - from_post(value, 'value', false)

      - db.orm.is_log = false
      - var res = db.at_id(item_id).update(colname, value)

      - echo('{ "status": "OK", "data": "'+res+'" }')

   else if script == 'field-delete'
      - var from_get = gen_from_get('field-delete')

      - from_get(item_id, 'item_id')

      - db.orm.is_log = false
      - db.at_id(item_id).remove()

      - echo('{ "status": "OK" }')

   else if script == 'field-duplicate'
      - var from_get = gen_from_get('field-duplicate')
      
      - from_get(item_id, 'item_id')

      - db.orm.is_log = false
      - var new_id = db.at_id(item_id).duplicate()

      - echo('{ "status": "OK", "id": '+new_id+' }')
   else if script == 'info'
      - phpinfo()

else
   | Error: no or unexpected script in $_GET