:php
   $PHP = '../'

include ../../bundle.pug

+die-if-bad()
+get-user-info()

:php
   $title = '';
   $plugin_name = '';

   if (array_key_exists('p', $_GET)) {
      $plugin_name = $_GET['p'];
      $rend = $reg->interface->plugin_page->get_renderer($plugin_name);
   }

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title <?= $rend->page_title ?> | Just Field
      - let tmp = '<?= $rend->styles ?>'
      | !{tmp}
      +favicon()
   body.row
      +aside()
      main(style!=`<?= "width: $anti_aside_width;" ?>`).rel
         .page_content
            :php
               $rend->render();
         .page_foot-panel.w100.row.jcsb
            div
               :php
                  $rend->footpanel_render();
            .row
               #statusbar.p1 Ready
   :php
      echo $rend->scripts;