table
   border-collapse: collapse
thead 
   td
      background-color: $-c4
      background-image: url('./../../Attach/Images/diag-dash-table.png')
      cursor: pointer
      font-family: var(--f-pts-b)
      font-weight: bold
      text-align: center

      &:hover
         background: $-c4
tr
   height: fit-content
   &:nth-child(even)
      background-color: #7A7A7A0a
td
   padding: 1em
   padding-bottom: calc(1em + 1px)
   border-right: 1px solid $-c5-25
   .link
      color: $-c2