include ../../bundle.pug

+die-if-bad()
- var global = { 'page-name': 'account' };
+get-user-info()

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Accounts | Just Field
      +favicon()
   body.row
      +aside()
      main
         .page_content.ova.w100
            table
               thead
                  tr
                     td Order
                     td Login
                     td Email
               tbody
                  <?php $accounts = $orm->from('account')->select('*')(); ?>
                  <?php foreach ($accounts as $curr_account) : ?>
                  tr
                     td.page_table-order.row.jcc.aic.cup
                        img(src=`../__attach/Images/up-down.svg` draggable="false")
                     td
                        <?= $curr_account['account_login'] ?>
                     td
                        +link("<?= $curr_account['account_email'] ?>", "mailto:<?= $curr_account['account_email'] ?>")
                  <?php endforeach; ?>
         .page_foot-panel.w100.row
            +button('Add', 'dark')
            +button('Delete', 'dark')
               span(style="color: #6CF6FF88")
                  |  (
                  span 0
                  | )
         