include __item/aside__item.pug
mixin aside()
   :php
      $aside_width = 400;
      if (array_key_exists('-jf_aside-width', $_COOKIE)) {
         $aside_width = $_COOKIE['-jf_aside-width'];
      }
      $anti_aside_width = "calc(100% - {$aside_width}px)";
   - let pageName = global['page-name']
   - let width_str = "width: <?=$aside_width?>px"
   aside.aside&attributes(attributes).rel(style!=width_str)
      .aside__content.col.jcsb
         .col
            +box('div', 'none').aside__logo.row.aic
               +logo()(style="height: 1.75em; width: 1.75em;")
               strong.plo75 Just Field CMS
            +box('div', 'none').aside__logged-as
               span Logged as 
               strong.tdu <?= $user_info['account_login'] ?>
            :php
               $actual_link = (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? "https" : "http") . "://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";
               $actual_link = trim($actual_link, "\t\n\r\0\x0B/");
            <?php foreach($reg->interface->aside->menu_items as $item) : ?>
               +aside__item()
            <?php endforeach; ?>
         .col
            +aside__item('Exit', './../scripts?script=exit')
      .aside__resizer.abs.h100