include __item/aside__item.pug
mixin aside()
   aside.aside&attributes(attributes).rel
      .aside__content.col.jcsb
         .col
            +aside__item('Fields', 'dropdown', {new_name: 'field'})
               +dropdown('Global')
                  +aside__item('Name', 'link')
                  +dropdown('Main menu')
               +dropdown('Main page')
                  
            +aside__item('Types', 'dropdown', {new_name: 'type'})
               +aside__item('Inline text', 'link')
               +aside__item('Large text', 'link')
               +aside__item('Group', 'link')
            +aside__item('Accounts', 'dropdown', {new_name: 'account'})
               +aside__item('You', 'link')
         .col
            +aside__item('Exit', 'link', {href: "./dev.php?page=scripts&script=exit"})
      .aside__resizer.abs.h100