include __item/aside__item.pug
mixin aside()
   :php
      $aside_width = 400;
      if (isset($_COOKIE['-jf_aside-width'])) {
         $aside_width = $_COOKIE['-jf_aside-width'];
      }
   - let pageName = global['page-name']
   - let width_str = "width: <?=$aside_width?>px"
   aside.aside&attributes(attributes).rel(style!=width_str)
      .aside__content.col.jcsb
         .col
            +box('div', 'none').aside__logo.row.aic
               +logo()(style="height: 1.75em; width: 1.75em;")
               strong.plo75 Just Field CMS
            +box('div', 'none').aside__logged-as
               span Logged as 
               strong.tdu <?= $user_info['account_login'] ?>
            +aside__item('Dashboard', './../dashboard', (pageName == 'main'))
            +aside__item('Fields', './../field', (pageName == 'field'))
            +aside__item('Field types', './../field-type', (pageName == 'field-type'))
            +aside__item('Accounts', './../account', (pageName == 'account'))
            +aside__item('Backup / Migrate', './../backup', (pageName == 'backup'))
            +aside__item('Store', './../store', (pageName == 'store'))
         .col
            +aside__item('Exit', './../scripts?script=exit')
      .aside__resizer.abs.h100