mixin item_T_text()

   <?php if (isset($child)) : ?>
   
      - let tmp = "<?= $child->id ?>", tmp1 = "<?= $child->type->name ?>"
      tr(data-item-id!=tmp, data-item-type!=tmp1).item_T_text&attributes(attributes)
         td(colname='order').page_table-order.row.jcc.aic.cup
            img(src=`../__attach/Images/up-down.svg` draggable="false")
         td(colname='key').p0
            - tmp = "<?= $child->key ?>"
            input(placeholder='Input key...', value!=tmp)
         td(colname='name').p0
            - tmp = "<?= $child->name ?>"
            input(placeholder='Input name...', value!=tmp)
         td(colname='value').w100.p0
            - tmp = "<?= $child->value ?>"
            +button('Text editor').w100(data-value!=tmp)
         - tmp = "<?= $child->type->name ?>"
         td(colname='type', colspan=2) !{tmp}
         td.tac(colname='permission') edit

   <?php else : ?>

      tr(data-item-id='{id}', data-item-type='{type}').item_T_text&attributes(attributes)
         td(colname='order').page_table-order.row.jcc.aic.cup
            img(src=`../__attach/Images/up-down.svg` draggable="false")
         td(colname='key').p0
            input(placeholder='Input key...', value='{key}')
         td(colname='name').p0
            input(placeholder='Input name...', value='{name}')
         td(colname='value').w100.p0
            +button('Text editor').w100(data-value='{value}')
         td(colname='type', colspan=2) {type}
         td.tac(colname='permission') {permission}

   <?php endif; ?>
   
mixin item_T_text_editor()
   .item_T_text__editor.editor-tabs.dn
      .editor-tabs__controls
         .editor-tabs__tabs
            .editor-tabs__tab.box.box_mode_light
               .p1 Tab 1
               .editor-tab__close-button.box.p1(data-tip='Close')
                  // https://www.flaticon.com/packs/user-interface-176
                  img(src='../__attach/Images/close.png')
            .editor-tabs__tab.box.box_mode_dark
               .p1 Tab 2
               .editor-tab__close-button.box.p1(data-tip='Close')
                  img(src='../__attach/Images/close-white.png')
         .editor-tabs__total-buttons
            .editor-tabs__colla.pse-button.box.p1.box_mode_light(data-tip='Collapse')
               img(src='../__attach/Images/collapse.png')
            .editor-tabs__close-button.box.p1.box_mode_light(data-tip='Close all editors')
               img(src='../__attach/Images/close.png')
      #editorjs.editor-tabs__editorjs
      