mixin die-if-bad(php_folder='./')
   :php
      session_start();

      if (!isset($_SESSION['id'])) {
         session_destroy();
         exit("<meta http-equiv='refresh' content='0; url=./../login'>");
         die;
      }
