:php
   $VER = time();
   $PHP = (isset($PHP) ? $PHP : '') . './__php';
   $ATTACH = './src/__attach';
   $ASSETS = './src/__assets';
   $ROOT = './src/Root';
   $MODE = 'dev';

   require_once $PHP . '/__load.php';

include Basic/devicer/devicer.pug
include Basic/input/input.pug
include Basic/button/button.pug
include Basic/link/link.pug
include Basic/aside/aside.pug
include Basic/dropdown/dropdown.pug
include Basic/arrow/arrow.pug
include Source/die-if-bad/die-if-bad.pug
include Basic/box/box.pug
include Basic/logo/logo.pug
include Basic/favicon/favicon.pug
include Source/get-user-info/get-user-info.pug
include Basic/table/table.pug
include Blocks/item_T_object/item_T_object.pug
include Blocks/item_T_field/item_T_field.pug
include Blocks/item_T_list/item_T_list.pug
include Blocks/item_T_image/item_T_image.pug
include Blocks/item_T_space/item_T_space.pug
include Basic/popup/popup.pug
include Blocks/item_T_text/item_T_text.pug
